body {
    padding: auto;
    background: rgb(95,145,94);
background: linear-gradient(0deg, rgba(95,145,94,1) 0%, rgba(255,255,255,1) 100%);
}


h1 {
    
}

p {
    font-size: 15pt;
    margin: 0;
    padding-left: 3px;
}

a:hover {
  color: white;
}

section {
  margin: 80px 0 80px 0;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:  32px 32px;
}

section h1 {
  grid-column: 2 / span 10;
  text-align: center;
}

.bottom-section {
    width: 100%;
    
}
      
.star {
        visibility: hidden;
    }

.fadeIn {
        -webkit-animation: animat_show 0.8s;
        animation: animat_show 0.8s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        30%{opacity:0}
        100%{opacity:1}
    }

/*Fading on scroll*/
  .slidingtext {
 overflow: hidden;
 position: relative;	
 animation: slidingtext 5s ease-out;
}
/* Move it (define the animation) */
@keyframes slidingtext {
 0%   {transform: translate(-200%,300%);
  		opacity: 0%;
        font-size: 50px;}
 25% {transform: translate(-50%,300%);
  		opacity: 0%;}
 30% {transform: translateX(0%,300%); 
  		opacity: 50%;}
    50% { transform: translateY(300%);
  		opacity: 100%;}
    75% {transform: translateY(300%); 
  		}
    100% {transform: translateY(0%); 
        font-size: 40px;
  		}
}

nav {
    animation: shadowFade 5.5s ease-out;
}

@keyframes shadowFade {
    0% {box-shadow: none;}
    90% {box-shadow: none;}
    100% {box-shadow: 0 1px 10px;}
}

@keyframes navSlide {
    0% {transform: translateY(0);}
    100% {transform: translateY(-65%);}
}

.nav-pages {
    overflow: hidden;
    position: relative;
    animation: fadeIn2 5.5s ease-out;
}

a.nav-pages:hover {
  color: rgb(95,145,94);
}

@keyframes fadeIn2 {
    0% {opacity: 0%;}
    90% {opacity: 0%;}
    100% {opacity: 100%;}
}

  .half-fade {
      color: white;
    opacity: 30%;
    animation: half-fade-in 2s ease-out;
  }
  @keyframes half-fade-in {
 0%   {opacity: 0%;}
 100% {opacity: 30%;}
}
  
    .star {
        visibility: hidden;
    }

    .fadeIn {
        -webkit-animation: animat_show 1.5s;
        animation: animat_show 1.5s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }
/*End fading on scroll*/

section {
}

.big-box {
    width: 100%;
}

.section {
    position: sticky;
    top: 30%;
    border: 1px solid transparent;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.section-text {
    margin: 0 0 0 30px;
    width: 40%;
    float: left;
}
/*end page CSS*/

/*drawing CSS*/
.mySVG {
    /*position: sticky;
    top: 15%;
    right: 5%;*/
    width: 400px;
    height: 350px;
}

.svgGroup {
    top: 0;
    margin: 0;
}

.svg-container {
    margin: 0;
    width: 40%;
    float: right;
}

@media (max-width: 992px)  {

   .svg-container {
       display: none;
   }

}
/*end drawing CSS*/
